<div class="grid-container">
    <div class="grid-container__cell"> 
        <div class="upload-doc">
            <img  class="upload-doc-icon"src="https://img.icons8.com/windows/32/000000/receipt-and-change.png"/>
            Document Store
        </div>
        <h3 class="grid-container__cell__heading">Upload your Relevance complience Documentation</h3>
        <p class="grid-container__cell__content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        </p>

        <div class="grid-container__cell__button">
            + Add Documentation
        </div>

    </div>
    <div  class="grid-container__cell">
        <div class="upload-doc">
            <img  class="upload-doc-icon"src="https://img.icons8.com/windows/32/000000/receipt-and-change.png"/>
            EPHI Inventory
        </div>
        <h3 class="grid-container__cell__heading">Track where all your sensitive information lives.</h3>
        <p class="grid-container__cell__content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        </p>

        <div class="grid-container__cell__button">
                <span>&rarr; Manage Phi</span>
        </div>
    </div>
    <div  class="grid-container__cell empty"> 
        <img class="icon" src="./assets/icon.png" />    
    </div>
    <div  class="grid-container__cell empty">
        <img class="icon" src="./assets/icon.png" />    
    </div>

</div>