$padding: 1rem;
$color-primary: #47d647;
$max-width: 1024px;

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    @media only screen and (max-width: $max-width) {
        flex-direction: column;
    }

     

    &__cell {
        width: 24%;
        min-height: 12rem;
        max-height: 19rem;
        background-color: white;
        overflow: hidden;

        @media (max-width: 1240px) and (min-width: 1025px){
                max-height: 24rem;
                font-size: 1.0rem;
        } 
        
        &:not(:last-child) {
            margin-right: 1rem;
        }

        .upload-doc {
            cursor: pointer;
            color: $color-primary;
            padding: 1rem 2rem;
            font-weight: bold;
            text-transform: uppercase;
            &-icon {
                height: 18px;
                width: 15px;
                margin-right: 4px;
            }

            @media (max-width: 1240px) and (min-width: 1025px){
                font-size: 0.7rem;
            } 
        }

        &__heading {
            font-size: 1.5rem;
            padding: 0 1rem;
            color: #797676;

            @media (max-width: 1240px) and (min-width: 1025px){
                font-size: 1.2rem;
            } 
        }

        &__content {
            font-size: 1rem;
            padding: $padding;
            color: black
        }

        &__button{
            cursor: pointer;
            display: inline-block;
            line-height: 2rem;
            height: 2rem;
            min-width: 10rem;
            margin: 2rem 2rem;
            background-color: $color-primary;
            color: white;
            padding: 0.4rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 4px;

            @media (max-width: 1240px) and (min-width: 1025px){
                font-size: 0.8rem;
            } 

            &:hover {
                border: 1px solid #1b8c06;
                transform: translateY(-2px);
                box-shadow: 1px 2px rgba($color: #000000, $alpha: 0.4);
            }
            &:active {
                border: 1px solid #1b8c06;
                transform: translateY(0px);
                box-shadow: 1px 1px rgba($color: #000000, $alpha: 0.4);
            }


        }
        @media only screen and (max-width: $max-width) {
            width: 100%;
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.icon {
    max-height: 5rem;
    max-width: 5rem;
    opacity: 0.4;
}